<h1>Bienvenido a InvernApp</h1>

<nav>
    <ul><li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/lista_tareas/">Tareas diarias</a>
        </li>
        <li>
            <a href="/crear_tarea/">Crear tarea</a>
        </li>
        <li>
            <a href="/registrar_planta/">Registrar nueva planta</a>
        </li>
        <li>
            <a href="/registrar_invernadero/">Registrar invernadero</a>
        </li>
        <li>
            <a href="/registrar_bloque/">Registrar bloque</a>
        </li>
    </ul>
</nav>

{% block content %}


{% endblock %}