<h1>Bienvenido a InvernApp</h1>

<nav>
    <ul><li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/lista_tareas/">Tareas diarias</a>
        </li>
        <li>
            <a href="/mapa_cultivos/">Mapa de cultivos</a>
        </li>
        <li>
            <a href="/calendario_cultivos/">Calendario de cultivos</a>
        </li>
        <li>
            <a href="/lista_insumos/">Lista de insumos</a>
        </li>
        <li>
            <a href="/crear_tarea/">Crear tarea</a>
        </li>
    </ul>
</nav>

{% block content %}


{% endblock %}