{% extends "base.html" %}

{% block content %}

<h1>Lista de Tareas Programadas</h1>


<form action="{% url 'lista_tareas' %}" method="POST">
    {% csrf_token %}
    <input type="date" name="fecha_filtro" value="{{hoy|date:'Y-m-d'}}">
    <button type="submit">Filtrar por fecha</button>
</form>
{{hoy}}
<ul>
    {% for tarea in tareas %}
        <li><a href="{% url 'detalle_tarea' tarea.id %}">{{tarea.tipo_tarea}} de {{tarea.lote_cultivo.plantilla}} en {{tarea.invernadero.nombre}} {{tarea.zona.nombre}} cama no. {{tarea.cama.numero_cama}}</a></li>
    {% endfor %}
</ul>

{% endblock %}